name: quelpoke

on:
  push:
    branches: [ "main" ]
    
jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.service_account }}
      - uses: google-github-actions/setup-gcloud@v2
        with: 
          project_id: cs-poc-hpzdycpiqjyvinhrczvlwcn
      
      - run: gcloud auth configure-docker europe-west9-docker.pkg.dev
      - run: docker build -t europe-west9-docker.pkg.dev/cs-poc-hpzdycpiqjyvinhrczvlwcn/student-seth/ .
      - run: docker push europe-west9-docker.pkg.dev/cs-poc-hpzdycpiqjyvinhrczvlwcn/student-seth/
